.profile {
  margin-top: 40px;
  max-width: 1240px;
  width: 100%;
  display: grid;
  grid-template-columns: 320px 860px;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 'nav content'
                       'caption content';
  column-gap: 60px; 
}                    

  .nav {
    list-style: none;
    margin-top: 96px;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    grid-area: nav;
    padding-bottom: 80px;
  }

  .link {
    text-decoration: none;
    color: #8585AD;
  }

    .link_active {
      color: #F2F2F3;
    }

    .link :hover {
      color: #F2F2F3;
      opacity: 0.7;
    }
  

  caption {
    opacity: 0.4;
    grid-area: caption;
  }
