.main {
  width: 1188px;
  margin: 0 auto;
}

.feed {
  display: grid;
  grid-template-columns: 600px 584px;
  column-gap: 60px;
  
}

.loader {
  align-self: center;
  margin-top: 130px;
  position: relative;
}

.noOrders {
  margin-top: 95px;
}
