.ordersSummary {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    margin-top: 100px;
}
    .ordersSummary_statuses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;
    }

    .ordersSummary_numbers {
        display: flex;
        gap: 36px;
    }

    .ordersSummary_list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .ordersSummary_done {
        color: #00CCCC;
    }

    .ordersSummary_digits {
        text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
    }