.section {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:stretch;
  max-width: 600px;
}

.blockTitleGrid {
  width: 100%; 
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 56px);
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.blockCenter {
  text-align: center;
}

.blockTitles {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blockCardsGrid {
  width: 100%; 
  padding: 24px 16px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 208px);
  column-gap: 24px;
  row-gap: 32px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}